<a href="https://colab.research.google.com/github/New-AutoMotive/learning/blob/main/BigQuery%20tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### BigQuery & Python Tutorial

BigQuery is accessible from https://console.cloud.google.com.  It is a piece of software that allows you to access and interact with large datasets.

In [1]:
# To interact with BigQuery, it's helpful to use some python packages.
# The %load_ext command is a variation on the 'import' command, but it only works in Jupyter Notebooks. 

import pandas as pd
%load_ext google.cloud.bigquery

In [3]:
# When running this notebook in Google Colab, use the following code to authenticate

from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Below, we query a database with a SQL query, which will be stored in the variable `df`

In [6]:
%%bigquery df --project rugged-baton-283921
SELECT *
FROM VES_dataset.VRN_UK
WHERE monthOfFirstRegistration = '2021-12-01'
AND fuelType = 'ELECTRICITY'

In [7]:
# The .head() method shows us the top 5 lines of the spreadsheet. 
df.head()

  registrationNumber artEndDate  ...  motExpiryDate  Region
0            GX71CWF        NaT  ...            NaT      GB
1            BN71EYY        NaT  ...            NaT      GB
2            LJ71DHF        NaT  ...            NaT      GB
3            LJ71DHY        NaT  ...            NaT      GB
4            RX71ANF        NaT  ...            NaT      GB

[5 rows x 21 columns]